/* line 1, ../scss/style.scss */
body {
  box-sizing: border-box;
  background: url("../images/bg-info.jpg") no-repeat;
  background-size: cover;
  font-family: 'Lato',Verdana, Geneva, sans-serif;
  -webkit-font-family: sans-serif !important;
  -moz-font-family: sans-serif !important;
}

/*=========  Navbar  =============*/
/* line 12, ../scss/style.scss */
.navbar {
  background: url("../images/nav_bg4.png");
}
/* line 14, ../scss/style.scss */
.navbar .nav-link {
  transition: .4s ease;
}
/* line 17, ../scss/style.scss */
.navbar .nav-link a {
  font-family: 'Lato',Verdana, Geneva, sans-serif;
  -webkit-font-family: sans-serif !important;
  -moz-font-family: sans-serif !important;
}
/* line 24, ../scss/style.scss */
.navbar .nav-link:hover {
  background: rgba(255, 255, 255, 0.2);
}
/* line 28, ../scss/style.scss */
.navbar .dropdown-menu {
  background: url(../images/nav_bg4.png);
  margin-top: 15px;
  border-radius: 0;
  border: 1px solid #fff;
}
/* line 34, ../scss/style.scss */
.navbar .dropdown-menu .dropdown-item {
  color: #fff;
  transition: 0.4s;
}
/* line 39, ../scss/style.scss */
.navbar .dropdown-menu .dropdown-item:hover {
  color: #000;
}
/* line 43, ../scss/style.scss */
.navbar .dropdown-menu .dropdown-item.active, .navbar .dropdown-menu .dropdown-item:active {
  background: rgba(0, 0, 0, 0.5);
}

/*=========  Slider  =============*/
/* line 51, ../scss/style.scss */
#carousel .carousel, #beton .carousel {
  position: relative;
  font-family: 'Oswald', sans-serif;
  -webkit-font-family: 'Oswald', sans-serif;
  -moz-font-family: 'Oswald', Sans-serif;
}
/* line 57, ../scss/style.scss */
#carousel .carousel .carousel-caption, #beton .carousel .carousel-caption {
  position: absolute;
  left: 0;
  top: 30%;
  /* bottom: 20px; */
  z-index: 10;
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
  color: #fff;
  width: 50%;
  text-align: right;
}
/* line 69, ../scss/style.scss */
#carousel .carousel .carousel-caption h1, #beton .carousel .carousel-caption h1 {
  color: white;
  text-shadow: 2px 2px 2px #000;
  font-weight: 400;
  font-size: 4rem;
}
/* line 76, ../scss/style.scss */
#carousel .carousel .carousel-caption h3, #beton .carousel .carousel-caption h3 {
  color: red;
  text-shadow: 2px 2px 2px #fff;
  font-weight: 400;
  font-size: 4rem;
}
/* line 83, ../scss/style.scss */
#carousel .carousel .carousel-control-prev, #carousel .carousel .carousel-control-next, #beton .carousel .carousel-control-prev, #beton .carousel .carousel-control-next {
  position: absolute;
  top: 50%;
  height: 6rem;
  width: 6rem;
  margin-top: -75px;
  bottom: 0;
  margin-left: 15px;
  border-radius: 50%;
  border: 5px solid darkred;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}
/* line 102, ../scss/style.scss */
#carousel .carousel .carousel-control-next, #beton .carousel .carousel-control-next {
  margin-right: 15px;
}

/*=========  Beton  =============*/
/* line 110, ../scss/style.scss */
#beton .carousel .carousel-control-prev {
  position: absolute;
  top: 55%;
  height: 6rem;
  width: 6rem;
  margin-top: -75px;
  bottom: 0;
  margin-left: 10px;
  border-radius: 50% 0% 0% 50%;
  border: 3px solid red;
  background: darkred;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}

/* line 129, ../scss/style.scss */
#beton .carousel .carousel-control-next {
  position: absolute;
  top: 55%;
  height: 6rem;
  width: 6rem;
  margin-top: -75px;
  margin-right: 10px;
  bottom: 0;
  border-radius: 0% 50% 50% 0%;
  border: 3px solid red;
  background: darkred;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  opacity: 0.5;
}

/*=========  Card  =============*/
/* line 149, ../scss/style.scss */
.card {
  border-radius: 0;
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 0 20px black;
  border: 2px solid rgba(0, 0, 0, 0.65);
}
/* line 155, ../scss/style.scss */
.card .card-header {
  background: url(../images/architect.jpg) 50% 72% no-repeat;
  background-size: 100%;
  height: 120px;
}
/* line 160, ../scss/style.scss */
.card .card-header h1 {
  box-shadow: inset 63px 10px 215px -11px antiquewhite;
  padding: 5px 10px;
}
/* line 166, ../scss/style.scss */
.card .card-header:first-child {
  border-radius: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.65);
}
/* line 173, ../scss/style.scss */
.card .card-body .logo-kontakt img {
  border: none;
  background: rgba(255, 255, 255, 0.65);
}
/* line 177, ../scss/style.scss */
.card .card-body h6 {
  background: rgba(255, 255, 255, 0.65);
}
/* line 180, ../scss/style.scss */
.card .card-body h2 {
  display: inline-block;
  text-shadow: 1px 1px 1px grey;
  padding: 0 2px 5px 2px;
  border-bottom: 5px solid red;
}
/* line 186, ../scss/style.scss */
.card .card-body img {
  border: 3px solid rgba(255, 255, 255, 0.5);
}
/* line 191, ../scss/style.scss */
.card p {
  font-weight: 450;
}
/* line 195, ../scss/style.scss */
.card .lead {
  font-weight: 450;
}

/*=========  Beton  =============*/
/* line 202, ../scss/style.scss */
#beton section {
  width: 100%;
}

/*=========  Dekoracije  =============*/
/* line 209, ../scss/style.scss */
#dekoracije .card-body img {
  width: 100%;
  height: 165px;
}
/* line 213, ../scss/style.scss */
#dekoracije .nav-tabs {
  background: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
  margin: 0.5rem 0;
  text-shadow: 0px 0px 2px grey;
}
/* line 219, ../scss/style.scss */
#dekoracije .nav-tabs a {
  color: rgba(0, 0, 0, 0.7);
}

/*=========  Galerija  =============*/
/* line 228, ../scss/style.scss */
#galerija a img {
  width: 100%;
  height: 160px;
}

/*=========  reference  =============*/
/* line 237, ../scss/style.scss */
#reference .card-body img {
  border: none;
  background: rgba(255, 255, 255, 0.4);
  padding: 40px;
}

/*=========  Kontakt  =============*/
/* line 246, ../scss/style.scss */
.bg-num {
  background: rgba(255, 255, 255, 0.5);
}

/*=========  Footer  =============*/
/* line 251, ../scss/style.scss */
footer {
  border-top: 3px solid black;
  color: #fff;
  background: url("../images/footer_bg2.png");
  text-shadow: 1px 1px 2px black;
}
/* line 257, ../scss/style.scss */
footer .fa-facebook-square:before {
  content: "\f082";
  color: #3b5998;
}
/* line 262, ../scss/style.scss */
footer .mail-deco a {
  color: yellowgreen;
  padding: 5px;
  transition: 0.4s ease-in;
}
/* line 267, ../scss/style.scss */
footer .mail-deco a:hover {
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
}
/* line 271, ../scss/style.scss */
footer .right-copy {
  border-top: 1px solid #fff;
}

/* line 278, ../scss/style.scss */
.backToCV {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: 20px;
}
/* line 284, ../scss/style.scss */
.backToCV img {
  width: 20%;
  border: 1px solid #78C2AD;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

/*=========  Media  =============*/
@media (min-width: 320px) {
  /* line 295, ../scss/style.scss */
  #carousel .carousel .carousel-control-prev, #carousel .carousel .carousel-control-next {
    top: 85%;
    height: 2.5rem;
    width: 2.5rem;
    border: 3px solid darkred;
  }

  /* line 301, ../scss/style.scss */
  #carousel .carousel .carousel-caption, #beton .carousel .carousel-caption {
    left: 10%;
    top: 16%;
  }

  /* line 306, ../scss/style.scss */
  .carousel-indicators {
    margin: 0 auto;
    width: 50%;
  }

  /* line 311, ../scss/style.scss */
  #carousel .carousel .carousel-caption h3, #beton .carousel .carousel-caption h3 {
    font-size: 1.2rem;
  }

  /* line 315, ../scss/style.scss */
  #carousel .carousel .carousel-caption h1, #beton .carousel .carousel-caption h1 {
    font-size: 1.2rem;
  }

  /* line 320, ../scss/style.scss */
  #beton .carousel {
    display: none;
  }

  /* line 324, ../scss/style.scss */
  #galerija #carouselExampleIndicators {
    display: none;
  }

  /* line 328, ../scss/style.scss */
  iframe {
    height: 50%;
  }

  /* line 332, ../scss/style.scss */
  .info-kontakt .offset-2 {
    margin-left: 0;
  }
}
@media (min-width: 512px) {
  /* line 340, ../scss/style.scss */
  #carousel .carousel .carousel-control-prev, #carousel .carousel .carousel-control-next {
    top: 75%;
  }

  /* line 343, ../scss/style.scss */
  #carousel .carousel .carousel-caption, #beton .carousel .carousel-caption {
    left: 10%;
    top: 16%;
  }

  /* line 348, ../scss/style.scss */
  .carousel-indicators {
    margin: 0 auto;
    width: 50%;
  }

  /* line 353, ../scss/style.scss */
  #carousel .carousel .carousel-caption h3, #beton .carousel .carousel-caption h3 {
    font-size: 2rem;
  }

  /* line 357, ../scss/style.scss */
  #carousel .carousel .carousel-caption h1, #beton .carousel .carousel-caption h1 {
    font-size: 2rem;
  }

  /* line 362, ../scss/style.scss */
  #beton .carousel {
    display: block;
  }

  /* line 366, ../scss/style.scss */
  #beton .carousel .carousel-control-prev, #beton .carousel .carousel-control-next {
    top: 75%;
    height: 3rem;
    width: 3rem;
  }

  /* line 372, ../scss/style.scss */
  #galerija #carouselExampleIndicators {
    display: block;
  }
}
@media (min-width: 768px) {
  /* line 378, ../scss/style.scss */
  #carousel .carousel .carousel-control-prev, #carousel .carousel .carousel-control-next {
    height: 4rem;
    width: 4rem;
    top: 65%;
  }

  /* line 383, ../scss/style.scss */
  #carousel .carousel .carousel-caption, #beton .carousel .carousel-caption {
    left: 5%;
    top: 16%;
  }

  /* line 388, ../scss/style.scss */
  .carousel-indicators {
    margin: 0 auto;
    width: 50%;
  }

  /* line 393, ../scss/style.scss */
  #carousel .carousel .carousel-caption h3, #beton .carousel .carousel-caption h3 {
    font-size: 3rem;
  }

  /* line 397, ../scss/style.scss */
  #carousel .carousel .carousel-caption h1, #beton .carousel .carousel-caption h1 {
    font-size: 3rem;
  }

  /* line 401, ../scss/style.scss */
  #beton .carousel .carousel-control-prev, #beton .carousel .carousel-control-next {
    top: 70%;
    height: 3rem;
    width: 3rem;
  }

  /* line 407, ../scss/style.scss */
  #dekoracije .card-body img {
    height: 125px;
  }

  /* line 411, ../scss/style.scss */
  #galerija a img {
    height: 130px;
  }

  /* line 415, ../scss/style.scss */
  iframe {
    height: 300px;
  }

  /* line 419, ../scss/style.scss */
  .info-kontakt .offset-2 {
    margin-left: 0;
  }
}
@media (min-width: 1024px) {
  /* line 426, ../scss/style.scss */
  #carousel .carousel .carousel-control-prev, #carousel .carousel .carousel-control-next {
    height: 5rem;
    width: 5rem;
    top: 55%;
    border: 5px solid darkred;
  }

  /* line 432, ../scss/style.scss */
  #carousel .carousel .carousel-caption, #beton .carousel .carousel-caption {
    left: 0%;
    top: 30%;
  }

  /* line 437, ../scss/style.scss */
  #beton .carousel .carousel-control-prev, #beton .carousel .carousel-control-next {
    top: 55%;
    height: 5rem;
    width: 5rem;
  }

  /* line 443, ../scss/style.scss */
  iframe {
    height: 300px;
  }

  /* line 447, ../scss/style.scss */
  .info-kontakt .offset-2 {
    margin-left: 16.66667%;
  }
}
@media (min-width: 1200px) {
  /* line 454, ../scss/style.scss */
  #carousel .carousel .carousel-control-prev, #carousel .carousel .carousel-control-next {
    height: 6rem;
    width: 6rem;
    top: 55%;
    border: 5px solid darkred;
  }

  /* line 460, ../scss/style.scss */
  #carousel .carousel .carousel-caption, #beton .carousel .carousel-caption {
    left: 0%;
    top: 30%;
  }

  /* line 465, ../scss/style.scss */
  #beton .carousel .carousel-control-prev, #beton .carousel .carousel-control-next {
    top: 57%;
    height: 6rem;
    width: 6rem;
  }

  /* line 471, ../scss/style.scss */
  .carousel-indicators {
    width: 100%;
  }

  /* line 475, ../scss/style.scss */
  #carousel .carousel .carousel-caption h3, #beton .carousel .carousel-caption h3 {
    font-size: 4rem;
  }

  /* line 479, ../scss/style.scss */
  #carousel .carousel .carousel-caption h1, #beton .carousel .carousel-caption h1 {
    font-size: 4rem;
  }

  /* line 483, ../scss/style.scss */
  #galerija a img {
    height: 160px;
  }

  /* line 487, ../scss/style.scss */
  #dekoracije .card-body img {
    height: 160px;
  }

  /* line 491, ../scss/style.scss */
  iframe {
    height: 400px;
  }
}
